<%- include('globales/cabecera.ejs') %>

<body style="height: 180vh;"></body>

<div class="menu">

  
<h2 class="menu_titulo">Resultados</h2>


<form action="/<%= Liga %>/<%= categoria %>/Resultados/Partido/<%= partido %>" method="POST" class="form_resul for_secc">
  <input type="text" name="Id_Partido" value="<%= partido %>" placeholder="Id_Partido" readonly>

    <p>Equipo local <%= plantel_equipo_local[0].Nombre_Equipo %> Id.- <%= plantel_equipo_local[0].Equipo %></p>
    <input type="text" name="equipolocal" value="<%= plantel_equipo_local[0].Equipo %>" placeholder="<%= plantel_equipo_local[0].Nombre_Equipo %>" readonly>

    <% for(var i=0 ; i < plantel_equipo_local.length; i++) { %>

    <div class="">

     

      <input type="number" name="Id" value="<%= plantel_equipo_local[i].ID %>" placeholder="<%= plantel_equipo_local[i].ID %>" readonly>
      <input type="text" name="" value="<%= plantel_equipo_local[i].Nombres %>" placeholder="<%= plantel_equipo_local[i].Nombres %>" readonly>
      <input type="number" name="numero" value="<%= plantel_equipo_local[i].Dorsal %>" placeholder="<%= plantel_equipo_local[i].Dorsal %>" readonly>
      <input type="number" name="goles" value="0" placeholder="goles" >
      <input type="number" name="asistencia" value="0" placeholder="asistencia" min="0" max="1">

     </div>
     <% } %>

     <p>Equipo Visitante <%= plantel_equipo_Visitante[0].Nombre_Equipo %> Id.- <%= plantel_equipo_Visitante[0].Equipo %></p>
     <input type="text" name="equipovisitante" value="<%= plantel_equipo_Visitante[0].Equipo %>" placeholder="<%= plantel_equipo_Visitante[0].Nombre_Equipo %>" readonly>

     <% for(var i=0 ; i < plantel_equipo_Visitante.length; i++) { %>

        <div class="">
    
         
    
          <input type="number" name="Id_v" value="<%= plantel_equipo_Visitante[i].ID %>" placeholder="plantel_equipo_Visitante[i].ID %>" readonly>
          <input type="text" name="" value="<%= plantel_equipo_Visitante[i].Nombres %>" placeholder="<%= plantel_equipo_Visitante[i].Nombres %>" readonly>
          <input type="number" name="numero_v" value="<%= plantel_equipo_Visitante[i].Dorsal %>" placeholder="<%= plantel_equipo_Visitante[i].Dorsal %>" readonly>
          <input type="number" name="goles_v" value="0" placeholder="goles" >
          <input type="number" name="asistencia_v" value="0" placeholder="asistencia" min="0" max="1">
    
         </div>
         <% } %>

     


   
       

   
       <button>Enviar</button>
       </form>



<!-- <P> VENTANA QUE ME PREGUNTE SI DESEO AGREGAR GOLES Y ASISTENCIA </P>
       <P> if : redirigir a goles y asistencias pasando los equipos por varibles.</P>
       <P> not : redirigir a imagen del resultado</P> -->

       

      </div>

     
<script src="/javascripts/prueba.js"></script>