 

<%- include('globales/cabecera.ejs') %>
   
     
    <div class="menu">
        <h1 class="menu_titulo"><%= titulo_card %></h1>
       
       
        <div class="menu_seccion">
       
          <ul>
            <% Menu.forEach(function(Menu) { %>
              <div class="liga">
                <li>
                  <a href="<%= Menu.link %>"> <h3 class="liga_name"> <%= Menu.option %></h3></a>
                </li>
              </div>
            <% }); %>
          </ul>
          
        </div>

        <div class="menu_globales">
           <a href="http://localhost:8082/Jugadores"><h3><%= Menu_jugadores %></h3></a> 
            <h3>Equipos</h3>

        </div>
</div>



</body>
</html>