<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/Resultados_asistencia.css' />
    

    <title>Document</title>
</head>
<body>
    
<p>Resultados_asistencia</p>
    <div class="content_resul">
        <p class="fecha"><%- resul.Fecha %></p>
        
        <p class="Cat">Categoria <%- categoria %></p>
        <p class="Jor">    <%- jornada %> <%- resul.Jornada %></p>
        <div class="equipo_1">
            <img class="equipos" src="<%- resul.Escudolc %>" alt="">
        </div> 
        <p class="versus"></p>
        <div class="Equipo_2">
            <img class="equipos" src="<%- resul.Escudo %>" alt="">
        </div>       
        <p class="marcador"><%- resul.GF %> - <%- resul.GC %></p>
        <p class="Logo">
            <img class="logo-img" src="/images/<%- logo_liga %>.png" alt="">
        </p>
        <p class="liga"><%- Liga %></p>
        <p class="titulo_2">Toma de Asistencia y Goles</p>

        <div class="Equipo_local">
            <% for (let i = 0; i < jugadores_locales.length; i++) { %>
                <P class="jugadores_css">   <%-  jugadores_locales[i].Nombres  %> &#160; <span class="span"><%- jugadores_locales[i].Goles %></span> </P>
              <% } %> 
                   </div>

        <div class="Equipo_visita">
            <% for (let i = 0; i < jugadores_visitantes.length; i++) { %>
                <P class="jugadores_css"> <span class="span">  <%- jugadores_visitantes[i].Goles %></span> &#160; <%- jugadores_visitantes[i].Nombres %> </P>
              <% } %> 
        </div>
    </div>
    


        <p>Puntos local:<%- resul.Puntos %> </p>


    <%- fondo %>

<script>
    window.onload=inicio;
    function inicio(){


        

        for (let i = 0; i < 30; i++) {
         document.getElementsByClassName("content_resul")[i].style.borderColor = '<%- color %>';
         document.getElementsByClassName("content_resul")[i].style.color = '<%- color %>';
         document.getElementsByClassName("content_resul")[i].style.backgroundImage = '<%- fondo %>';

        }



    }
</script>



    <p>Resultados Libre vista</p>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script> 

  

<script src="/javascripts/descargar-img.js"></script>
<script src="/javascripts/goles_display.js"></script>

</body>
</html>