
<%- include('globales/cabecera.ejs') %>

<div class="menu">


<h2 class="menu_titulo">Resultados</h2>

<p>Jornada anteriores</p>

<form action="/<%= Liga %>/<%= Categoria %>/<%= Seccion %>" method="POST" class="form_resul">
    <input type="number" name="Jornada" value="" placeholder="Jornada">
    <input type="date" name="Fecha" value="" placeholder="Fecha">

    <div class="for_secc">

      <input type="text" name="Equipo" value="" placeholder="Equipo Local">
      <input type="number" name="GF" value="" placeholder="GF" class="GF">
      <input type="text" name="GC" value="" placeholder="GC" class="GC">
      <input type="number" name="Puntos" value="" placeholder="Puntos" class="none Puntos_l">
      <input type="number" name="Puntos_rv" value="" placeholder="Puntos_rv" class="none Puntos_rv">
      <input type="text" name="Equipo_2" value="" placeholder="Equipo Visitante">
     </div>

     <div class="for_secc form_desk">

      <input type="text" name="Equipo" value="" placeholder="Equipo Local">
      <input type="number" name="GF" value="" placeholder="GF" class="">
      <input type="text" name="GC" value="" placeholder="GC" class="">
       <input type="number" name="Puntos" value="" placeholder="Puntos" class="none">
      <input type="number" name="Puntos_rv" value="" placeholder="Puntos_rv" class="none">
      <input type="text" name="Equipo_2" value="" placeholder="Equipo Visitante">
     </div>

     <div class="for_secc form_desk">

      <input type="text" name="Equipo" value="" placeholder="Equipo Local">
      <input type="number" name="GF" value="" placeholder="GF" class="">
      <input type="text" name="GC" value="" placeholder="GC" class="">
      <input type="number" name="Puntos" value="" placeholder="Puntos" class="none">
      <input type="number" name="Puntos_rv" value="" placeholder="Puntos_rv" class="none">
      <input type="text" name="Equipo_2" value="" placeholder="Equipo Visitante">
     </div>

     <div class="for_secc form_desk">

      <input type="text" name="Equipo" value="" placeholder="Equipo Local">
      <input type="number" name="GF" value="" placeholder="GF" class="">
      <input type="text" name="GC" value="" placeholder="GC" class="">
      <input type="number" name="Puntos" value="" placeholder="Puntos" class="none">
      <input type="number" name="Puntos_rv" value="" placeholder="Puntos_rv" class="none">
      <input type="text" name="Equipo_2" value="" placeholder="Equipo Visitante">
     </div>

     <div class="for_secc form_desk">

      <input type="text" name="Equipo" value="" placeholder="Equipo Local">
      <input type="number" name="GF" value="" placeholder="GF" class="">
      <input type="text" name="GC" value="" placeholder="GC" class="">
      <input type="number" name="Puntos" value="" placeholder="Puntos" class="none">
      <input type="number" name="Puntos_rv" value="" placeholder="Puntos_rv" class="none">
      <input type="text" name="Equipo_2" value="" placeholder="Equipo Visitante">
     </div>

   
       

   
       <button>Enviar</button>
       </form>



<!-- <P> VENTANA QUE ME PREGUNTE SI DESEO AGREGAR GOLES Y ASISTENCIA </P>
       <P> if : redirigir a goles y asistencias pasando los equipos por varibles.</P>
       <P> not : redirigir a imagen del resultado</P> -->

       

      </div>

      <link rel="stylesheet/less" type="text/css" href="/stylesheets/<%= StyleSheet %>" />
<script src="/javascripts/prueba.js"></script>