
<%- include('globales/cabecera.ejs') %>

<div class="menu">

  
<h2 class="menu_titulo">Resultados</h2>
<p>Jornada anteriores
<% for(var i=0 ; i < Jornadas.length; i++) { %>
  <%- Jornadas[i]["Jornada"] %> 
  <% } %>

</p>

<form action="/<%= Liga %>/<%= categoria %>/<%= Seccion %>" method="POST" class="form_resul">
    <input type="number" name="Jornada" value="" placeholder="Jornada">
    <input type="date" name="Fecha" value="" placeholder="Fecha">

    <div class="for_secc">

      <select name="Equipo">
        <% for(var i=0 ; i < Planteles.length; i++) { %>
          <option value='<%- Planteles[i]["ID"] %>'><%- Planteles[i]["Equipo"] %></option>
          <% } %>
        </select>

      <input type="number" name="GF" value="" placeholder="GF" class="GF">
      <input type="text" name="GC" value="" placeholder="GC" class="GC">
      <input type="number" name="Puntos" value="" placeholder="Puntos" class="none Puntos_l">
      <input type="number" name="Puntos_rv" value="" placeholder="Puntos_rv" class="none Puntos_rv">
      <select name="Equipo_2">
        <% for(var i=0 ; i < Planteles.length; i++) { %>
          <option value='<%- Planteles[i]["ID"] %>'><%- Planteles[i]["Equipo"] %></option>
          <% } %>
        </select>
     </div>

     <div class="for_secc form_desk">

      <select name="Equipo">
        <% for(var i=0 ; i < Planteles.length; i++) { %>
          <option value='<%- Planteles[i]["ID"] %>'><%- Planteles[i]["Equipo"] %></option>
          <% } %>
        </select>

      <input type="number" name="GF" value="" placeholder="GF" class="GF">
      <input type="text" name="GC" value="" placeholder="GC" class="GC">
      <input type="number" name="Puntos" value="" placeholder="Puntos" class="none Puntos_l">
      <input type="number" name="Puntos_rv" value="" placeholder="Puntos_rv" class="none Puntos_rv">
      <select name="Equipo_2">
        <% for(var i=0 ; i < Planteles.length; i++) { %>
          <option value='<%- Planteles[i]["ID"] %>'><%- Planteles[i]["Equipo"] %></option>
          <% } %>
        </select>
     </div>

     <div class="for_secc form_desk">

      <select name="Equipo">
        <% for(var i=0 ; i < Planteles.length; i++) { %>
          <option value='<%- Planteles[i]["ID"] %>'><%- Planteles[i]["Equipo"] %></option>
          <% } %>
        </select>

      <input type="number" name="GF" value="" placeholder="GF" class="GF">
      <input type="text" name="GC" value="" placeholder="GC" class="GC">
      <input type="number" name="Puntos" value="" placeholder="Puntos" class="none Puntos_l">
      <input type="number" name="Puntos_rv" value="" placeholder="Puntos_rv" class="none Puntos_rv">
      <select name="Equipo_2">
        <% for(var i=0 ; i < Planteles.length; i++) { %>
          <option value='<%- Planteles[i]["ID"] %>'><%- Planteles[i]["Equipo"] %></option>
          <% } %>
        </select>
     </div>


     <div class="for_secc form_desk">

      <select name="Equipo">
        <% for(var i=0 ; i < Planteles.length; i++) { %>
          <option value='<%- Planteles[i]["ID"] %>'><%- Planteles[i]["Equipo"] %></option>
          <% } %>
        </select>

      <input type="number" name="GF" value="" placeholder="GF" class="GF">
      <input type="text" name="GC" value="" placeholder="GC" class="GC">
      <input type="number" name="Puntos" value="" placeholder="Puntos" class="none Puntos_l">
      <input type="number" name="Puntos_rv" value="" placeholder="Puntos_rv" class="none Puntos_rv">
      <select name="Equipo_2">
        <% for(var i=0 ; i < Planteles.length; i++) { %>
          <option value='<%- Planteles[i]["ID"] %>'><%- Planteles[i]["Equipo"] %></option>
          <% } %>
        </select>
     </div>

 
     <div class="for_secc form_desk">

      <select name="Equipo">
        <% for(var i=0 ; i < Planteles.length; i++) { %>
          <option value='<%- Planteles[i]["ID"] %>'><%- Planteles[i]["Equipo"] %></option>
          <% } %>
        </select>

      <input type="number" name="GF" value="" placeholder="GF" class="GF">
      <input type="text" name="GC" value="" placeholder="GC" class="GC">
      <input type="number" name="Puntos" value="" placeholder="Puntos" class="none Puntos_l">
      <input type="number" name="Puntos_rv" value="" placeholder="Puntos_rv" class="none Puntos_rv">
      <select name="Equipo_2">
        <% for(var i=0 ; i < Planteles.length; i++) { %>
          <option value='<%- Planteles[i]["ID"] %>'><%- Planteles[i]["Equipo"] %></option>
          <% } %>
        </select>
     </div>


   
       

   
       <button>Enviar</button>
       </form>



<!-- <P> VENTANA QUE ME PREGUNTE SI DESEO AGREGAR GOLES Y ASISTENCIA </P>
       <P> if : redirigir a goles y asistencias pasando los equipos por varibles.</P>
       <P> not : redirigir a imagen del resultado</P> -->

       

      </div>

     
<script src="/javascripts/prueba.js"></script>