<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='/stylesheets/Resultados-img.css' />
    

    <title>Document</title>
</head>
<body>
    
    <% for(var i=0 ; i < resul.length; i++) { %>

    <div class="content_resul">
        <p class="fecha"><%- resul[i].Fecha %></p>
        
        <p class="Cat">Categoria <%- categoria %></p>
        <p class="Jor">    <%- jornada %> <%- resul[i].Jornada %></p>
        <div class="equipo_1">
            <img class="equipos" src="<%- resul[i].Escudo %>" alt="">
        </div> 
        <p class="versus"></p>
        <div class="Equipo_2">
            <img class="equipos" src="<%- resul[i].Escudolc %>" alt="">
        </div>       
        <p class="marcador"><%- resul[i].GC %> - <%- resul[i].GF %></p>
        <p class="Logo">
            <img class="logo-img" src="/images/<%- logo_liga %>" alt="">
        </p>
        <p class="liga"><%- Liga %></p>
    </div>

    <a href="Edit/<%- resul[i].ID %>"> Editar  <%- resul[i].ID %></a>

    <a href="Delete/<%- resul[i].ID %>"> Delete  <%- resul[i].ID %></a>

    <% } %>
    <%- fondo %>

<script>
    window.onload=inicio;
    function inicio(){


        

        for (let i = 0; i < 30; i++) {
         document.getElementsByClassName("content_resul")[i].style.borderColor = '<%- color %>';
         document.getElementsByClassName("content_resul")[i].style.color = '<%- color %>';
         document.getElementsByClassName("content_resul")[i].style.backgroundImage = '<%- fondo %>';

        }



    }
</script>



    <p>Resultados Libre vista</p>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.1/dist/html2canvas.min.js"></script> 

    <script>

console.log("inicio de la logica para descargar img")

//Definimos el botón para escuchar su click
const $boton = document.querySelectorAll(".content_resul") // El botón que desencadena

//  $objetivo = document.querySelectorAll(".content_resul")[0] // A qué le tomamos la foto
// Nota: no necesitamos contenedor, pues vamos a descargarla
console.log($boton[1])

for(let i = 0; i < $boton.length; i++) {

 $boton[i].addEventListener("dblclick", () => {
  html2canvas($boton[i]) // Llamar a html2canvas y pasarle el elemento
    .then(canvas => {
      // Cuando se resuelva la promesa traerá el canvas
      // Crear un elemento <a>
      let enlace = document.createElement('a');
      enlace.download = "Resultado";
      // Convertir la imagen a Base64
      enlace.href = canvas.toDataURL();
      // Hacer click en él
      enlace.click();
    });
});
}

//traer todos los div en un map o en un recorredor
//probar con un console log que funcione en todos los divs

//y ejecutar la funcion
    </script>
</body>
</html>